
$headerFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$mainFont: sans-serif;
/* most sizes and values use vw (view width) and vh (view height)
for at least some form of scaling */
$item-size: 45vh;
$side-margin: 6vw;
$itemContentMargin: 3vw;

/* makes the top bar look nice :> */
body {
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

* {
    font-family: $mainFont;
}

.topBar {
    color: white;
    /* puts the header/title slightly further from the page edges. */
    padding: 1px;
    height: fit-content;
    padding-left: 10em;
    font-family: $headerFont;
    background-color:#303030;
}


@mixin flexContainer($direction) {
    display: flex;
    flex-direction: $direction;
}

.itemTitle {
    flex: 0 1 auto;
    text-align: left;
    margin-left: 3vw;
}

div {
    flex: 1 1 auto;
}

.floatLeft {
    margin-left: $itemContentMargin;
    text-align: left;
    float: left;
}

.floatRight {
    margin-right: $itemContentMargin;
    text-align: right;
    float: right;
}

.verticalFlex {
    justify-content:stretch;
    @include flexContainer(column)
}

.horizontalFlex {
    justify-content: space-evenly;
    align-items: center;
    @include flexContainer(row)
}

.itemBtnContainer {
    font-family: sans-serif;
    min-height: 20px;
    height: 20%;
    margin: 5%;
    margin-top: 4%;
    flex: 1 1 auto;
}

#laptopSelect {
    font-family: sans-serif;
    min-height: 20px;
    height: 10%;
    margin: 5%;
    margin-top: 0;
}

.loanContainer {
    margin-left: 0px;
    margin-right: 0px;
}

.itemBtn {
    font-family: sans-serif;
    border-radius: 0.5em;
}

#loanBtn {
    background-color: rgba(18, 161, 18, 0.692);
}

.fillContainer {
    width: 100%;
    height: 100%;
}

.featureHeader {
    position: absolute;
    margin: 0;
    margin-left: 2%;
}

.laptopDesc {
    flex-grow: 1;
}

#featureContainer {
    margin-top: 6%;
}

.laptopFeatures {
    margin-left: 3%;
    text-align: left;
    font-size: small;
}

ul {
    padding-top: 1%;
    margin-right: 0;
    margin-left: 5%;
    padding: 0;
    padding-left: 5%;
}

li {
    text-align: left;
    font-size: small;
}

#payLoanBtn {
    background-color: salmon;
}

#bankTransferBtn {
    background-color: yellow;
    margin-right: 2%;
}

#workBtn {
    background-color: blue;
    color: white;
    margin-left: 2%;
}

.horizontalItems {
    height: 90%;
    width: 100%;
    margin: 1em;
}

#imgContainer {
    justify-content: space-around;
}

#laptopImg {
    width: 100%;
    height: 100%;
    margin-left: 5%;
    object-fit: contain;
}

.infoText {
    height: 100%;
    text-align: left;
    margin: 0;
}

#infoTitle {
    height: 20%;
    margin-top: 20%;
}

#infoDesc {
    height: 40%;
    margin-top: 5%;
    margin-bottom: 10%;
}

#buyBtn {
    background-color: darkturquoise;
    margin-left: 10%;
    margin-right: 10%;
    height: 20%;
}

#buyBtnContainer {
    justify-content:space-evenly;
}

.grid {
    display: grid;
    margin-top: 4vh;
    margin-left: $side-margin;
    margin-right: $side-margin;
    column-count: 3;
    row-gap: 5vh;
    column-gap: 3vw;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    text-align: center;
    background-color:snow;
    border: 1px solid lightgray;
    height: $item-size;
    min-height: 16em;
    border-radius: 1em;
}

/* The bottom element, for buying, is 3 times larger than other elements */
.info {
    grid-column: 1/4;
    height: 30vh;
}
